// Definitions for using tas5825m
/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			tas5825: tas5825@4c {
				#sound-dai-cells = <0>;
				compatible = "ti,tas5805m";
				reg = <0x4c>;
				pdn-gpios = <&gpio 16 0>;
				status = "okay";
			};
			tlv320aic3254: tlv320aic3254@18 {
				#sound-dai-cells = <0>;
				compatible = "ti,tlv320aic32x4";
				reg = <0x18>;
				reset-gpios = <&gpio 7 0>;
				status = "okay";
				clock-names = "mclk";
				clocks = <&mclksrc>;
			};
		};
	};

	fragment@2 {
		target-path = "/clocks";
		mclksrc: mclksrc {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <40000000>;
			clock-output-names = "bclk";
		};
	};

	fragment@3 {
		target = <&sound>;
		__overlay__ {
			status = "okay";
			compatible = "simple-audio-card";
			simple-audio-card,name = "IsoKbd Amplifier";

			speaker_link: simple-audio-card,dai-link@0 {
				format = "i2s";
				s_cpu_dai: cpu {
					sound-dai = <&i2s>;
				};
				s_codec_dai: codec {
					sound-dai = <&tas5825>;
				};
			};
			headphone_link: simple-audio-card,dai-link@1 {
				format = "i2s";
				h_cpu_dai: cpu {
					sound-dai = <&i2s>;
				};
				h_codec_dai: codec {
					sound-dai = <&tlv320aic3254>;
				};
			};
		};
	};
};
